@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI.woff2") format("woff2"), url("../fonts/SegoeUI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI-Bold.woff2") format("woff2"), url("../fonts/SegoeUI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI-SemiBold.woff2") format("woff2"), url("../fonts/SegoeUI-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #e4f6ff;
  color: #0b2836;
}

body.fixed {
  overflow: hidden;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
}

@media screen and (max-width: 1250px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.header {
  background: #f3f7ff;
  padding: 7px 0;
}

.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__drop {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .header__drop {
    position: fixed;
    top: -550vw;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: #f3f7ff;
    padding: 75px 15px;
    transition: 500ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .header__drop::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
    opacity: 0;
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .header__drop.active {
    top: 78px;
  }
}

.header__drop .header__tel {
  display: none;
}

@media only screen and (max-width: 991px) {
  .header__drop .header__tel {
    display: block;
  }
}

.header__drop .header__social {
  display: none;
}

@media only screen and (max-width: 991px) {
  .header__drop .header__social {
    display: flex;
  }
}

.header__left {
  display: flex;
  align-items: center;
  gap: 34px;
}

@media only screen and (max-width: 1250px) {
  .header__left {
    gap: 20px;
  }
}

.header__right {
  display: flex;
  gap: 16px;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .header__right {
    position: relative;
    z-index: 100;
  }
}

@media only screen and (max-width: 991px) {
  .header__right .header__tel {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .header__right .header__social {
    display: none;
  }
}

.header__logo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  min-width: 62px;
  width: 62px;
  height: auto;
}

@media only screen and (max-width: 1250px) {
  .header__logo {
    min-width: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .header__logo {
    position: relative;
    z-index: 100;
  }
}

.header__logo span {
  font-weight: 700;
  font-size: 6px;
  text-align: center;
}

.header__logo-image {
  display: flex;
}

.header__logo-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.header__nav {
  display: flex;
  gap: 28px;
  align-items: center;
}

@media only screen and (max-width: 1250px) {
  .header__nav {
    gap: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .header__nav {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.header__nav li a {
  font-weight: 600;
  opacity: 0.4;
  transition: 300ms;
  position: relative;
}

.header__nav li a::before {
  content: "";
  display: none;
  background: #0b2836;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 300ms;
}

.header__nav li a:hover {
  opacity: 1;
}

.header__nav li a:hover::before {
  display: block;
}

.header__tel {
  transition: 300ms;
  font-weight: 600;
  text-align: right;
}

@media only screen and (max-width: 991px) {
  .header__tel {
    margin-bottom: 15px;
  }
}

.header__social {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  padding: 8px;
  width: 64px;
  height: 35px;
  background: #deecfd;
}

@media only screen and (max-width: 991px) {
  .header__social {
    width: 90px;
    height: 40px;
    gap: 12px;
  }
}

.header__social li {
  display: flex;
}

.header__social li a {
  width: 20px;
  min-width: 20px;
  height: 20px;
}

@media only screen and (max-width: 991px) {
  .header__social li a {
    width: 25px;
    min-width: 25px;
    height: 25px;
  }
}

.header__social li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.header__language {
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 100px;
  padding: 4px;
  width: 77px;
  height: 35px;
  background: #deecfd;
}

.header__language li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
}

.header__language li a.active {
  background: #f8f8f8;
  border-radius: 40px;
  padding: 4px;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms;
  border-radius: 64px;
  width: 137px;
  height: 39px;
  background: linear-gradient(135deg, #38b1ec 0%, #179fe2 100%);
  font-weight: 600;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-animation: animate_pulse 1.2s infinite;
  animation: animate_pulse 1.2s infinite;
}

@media only screen and (max-width: 767px) {
  .header__btn {
    font-size: 14px;
    width: 110px;
  }
}

.header__btn:hover {
  -webkit-animation: none;
  animation: none;
  box-shadow: 0 2px 25px rgba(23, 159, 226, 0.4);
}

@-webkit-keyframes animate_pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(23, 159, 226, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(23, 159, 226, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(23, 159, 226, 0);
  }
}

@keyframes animate_pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(23, 159, 226, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(23, 159, 226, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(23, 159, 226, 0);
  }
}

.header__burger {
  display: none;
}

@media only screen and (max-width: 991px) {
  .header__burger {
    display: block;
    width: 30px;
  }
  .header__burger a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
  }
  .header__burger a span {
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 7px;
    background: #0b2836;
    transition: all 0.2s ease-in-out;
  }
  .header__burger a span:before, .header__burger a span:after {
    content: "";
    width: 30px;
    height: 3px;
    position: absolute;
    left: 0;
    background: #0b2836;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
  }
  .header__burger a span:before {
    top: -8px;
  }
  .header__burger a span:after {
    top: 8px;
  }
  .header__burger a.active span {
    background: transparent;
  }
  .header__burger a.active span:before {
    transform: rotate(45deg) translate(5px, 6px);
  }
  .header__burger a.active span:after {
    transform: rotate(-45deg) translate(5px, -6px);
  }
}

.showcase {
  overflow: hidden;
  margin-bottom: 26px;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .showcase {
    margin-bottom: 60px;
  }
}

.showcase::before {
  content: "";
  display: block;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  background: #e4f6ff;
  width: 939px;
  height: 934px;
  position: absolute;
  top: 535px;
  right: -82px;
  z-index: 5;
}

@media only screen and (max-width: 1250px) {
  .showcase::before {
    top: 470px;
  }
}

@media only screen and (max-width: 991px) {
  .showcase::before {
    top: 496px;
  }
}

@media only screen and (max-width: 767px) {
  .showcase::before {
    top: 696px;
  }
}

.showcase__doctor {
  position: absolute;
  top: 26px;
  right: 0;
  width: 468px;
  height: auto;
  z-index: 3;
  opacity: 0;
  transition: 1000ms;
  transform: translateX(50px);
}

.showcase__doctor.element-show {
  opacity: 1;
  transform: none;
}

@media only screen and (max-width: 1250px) {
  .showcase__doctor {
    width: 400px;
    top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .showcase__doctor {
    width: 286px;
    top: 205px;
  }
}

@media only screen and (max-width: 767px) {
  .showcase__doctor {
    width: 246px;
    top: 422px;
  }
}

.showcase__doctor img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.showcase__image {
  position: absolute;
  top: -85px;
  right: 0;
  width: 899px;
  height: auto;
  z-index: 1;
}

@media only screen and (max-width: 1250px) {
  .showcase__image {
    width: 699px;
    top: -37px;
  }
}

@media only screen and (max-width: 991px) {
  .showcase__image {
    width: 550px;
    top: 135px;
  }
}

@media only screen and (max-width: 767px) {
  .showcase__image {
    width: 420px;
    top: 370px;
  }
}

.showcase__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.showcase__pulsation {
  position: absolute;
  top: 219px;
  right: 0;
  width: 869px;
  height: auto;
  z-index: 2;
}

@media only screen and (max-width: 1250px) {
  .showcase__pulsation {
    width: 675px;
  }
}

@media only screen and (max-width: 991px) {
  .showcase__pulsation {
    width: 532px;
    top: 315px;
  }
}

@media only screen and (max-width: 767px) {
  .showcase__pulsation {
    width: 406px;
    top: 526px;
  }
}

.showcase__pulsation img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.showcase__items {
  position: relative;
  z-index: 10;
  padding: 91px 0 158px;
  max-width: 508px;
}

@media only screen and (max-width: 1250px) {
  .showcase__items {
    max-width: 425px;
  }
}

@media only screen and (max-width: 991px) {
  .showcase__items {
    max-width: 100%;
    padding: 70px 0 200px;
  }
}

@media only screen and (max-width: 767px) {
  .showcase__items {
    padding: 70px 0 400px;
  }
}

.showcase__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 36px;
  opacity: 0;
  transition: 1000ms;
  transform: translateY(-50px);
}

.showcase__title.element-show {
  opacity: 1;
  transform: none;
}

@media only screen and (max-width: 1250px) {
  .showcase__title {
    font-size: 55px;
  }
}

@media only screen and (max-width: 767px) {
  .showcase__title {
    font-size: 45px;
    max-width: 317px;
  }
}

.showcase__title span {
  color: #3e4095;
}

.showcase__title b {
  color: #259cee;
}

.showcase__subtitle {
  margin-bottom: 52px;
  font-size: 24px;
  letter-spacing: -0.02em;
  opacity: 0;
  transition: 1000ms;
  transform: translateY(-50px);
}

.showcase__subtitle.element-show {
  opacity: 1;
  transform: none;
}

@media only screen and (max-width: 1250px) {
  .showcase__subtitle {
    font-size: 22px;
  }
}

@media only screen and (max-width: 991px) {
  .showcase__subtitle {
    font-size: 20px;
    max-width: 400px;
  }
}

.showcase__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms;
  border-radius: 64px;
  width: 400px;
  height: 67px;
  background: linear-gradient(135deg, #38b1ec 0%, #179fe2 100%);
  font-weight: 600;
  font-size: 20px;
  color: #e4f6ff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-animation: animate_pulse  1.2s infinite;
  animation: animate_pulse  1.2s infinite;
  opacity: 0;
  transition: 1000ms;
  transform: translateY(-50px);
}

.showcase__btn.element-show {
  opacity: 1;
  transform: none;
}

@media only screen and (max-width: 1250px) {
  .showcase__btn {
    width: 380px;
  }
}

@media only screen and (max-width: 991px) {
  .showcase__btn {
    font-size: 18px;
    width: 340px;
  }
}

.showcase__btn:hover {
  -webkit-animation: none;
  animation: none;
  box-shadow: 0 2px 25px rgba(23, 159, 226, 0.4);
}

@keyframes animate_pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(23, 159, 226, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(23, 159, 226, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(23, 159, 226, 0);
  }
}

.why {
  margin-bottom: 60px;
}

.why__inner {
  position: relative;
  z-index: 10;
}

.why__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .why__title {
    font-size: 28px;
  }
}

.why__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 991px) {
  .why__info {
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }
}

.why__info-items {
  background: linear-gradient(118deg, #f3f7ff 0%, #e4edff 100%);
  border-radius: 64px;
  display: block;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 0 24px 48px;
  opacity: 0;
  transition: 1000ms;
}

@media only screen and (max-width: 991px) {
  .why__info-items {
    border-radius: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .why__info-items {
    padding: 20px 0 20px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .why__info-items:last-child .why__info-image {
    width: 110px;
    height: auto;
  }
}

.why__info-items:hover {
  transform: translateY(-7px);
}

.why__info-items.element-show {
  opacity: 1;
}

.why__info-item {
  padding: 20px 0 31px 24px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .why__info-item {
    padding: 15px 0 20px 24px;
  }
}

.why__info-item::before {
  content: "";
  display: block;
  background: linear-gradient(135deg, #38b1ec 0%, #179fe2 100%);
  border-radius: 64px;
  height: 100%;
  width: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.why__info-title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 70%;
  letter-spacing: -0.02em;
}

@media only screen and (max-width: 767px) {
  .why__info-title {
    font-size: 18px;
    max-width: 210px;
    line-height: 120%;
  }
}

.why__info-subtitle {
  opacity: 0.64;
  font-weight: 600;
  line-height: 69%;
  letter-spacing: -0.02em;
}

@media only screen and (max-width: 767px) {
  .why__info-subtitle {
    line-height: 120%;
  }
}

.why__info-image {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .why__info-image {
    width: 133px;
    height: auto;
  }
}

.why__info-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.why__block {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media only screen and (max-width: 767px) {
  .why__block {
    flex-direction: column;
  }
}

.why__block-item {
  border-radius: 64px;
  background: #17a6ec;
  position: relative;
  overflow: hidden;
  padding: 48px 48px 80px 48px;
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .why__block-item {
    border-radius: 30px;
    padding: 30px 30px 60px 30px;
  }
}

.why__block-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f3f7ff;
  max-width: 517px;
}

@media only screen and (max-width: 1250px) {
  .why__block-title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .why__block-title {
    font-size: 31px;
    max-width: 285px;
  }
}

@media only screen and (max-width: 767px) {
  .why__block-title {
    font-size: 26px;
    max-width: 228px;
  }
}

.why__block-image {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  width: 313px;
  height: auto;
}

@media only screen and (max-width: 1250px) {
  .why__block-image {
    width: 241px;
  }
}

@media only screen and (max-width: 991px) {
  .why__block-image {
    width: 205px;
  }
}

@media only screen and (max-width: 767px) {
  .why__block-image {
    width: 144px;
  }
}

.why__block-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.why__image {
  border-radius: 64px;
  display: flex;
  width: 368px;
  min-width: 368px;
  height: auto;
}

@media only screen and (max-width: 991px) {
  .why__image {
    border-radius: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .why__image {
    min-width: 310px;
    width: 310px;
  }
}

@media only screen and (max-width: 767px) {
  .why__image {
    width: 100%;
    min-width: auto;
  }
}

.why__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 64px;
}

@media only screen and (max-width: 991px) {
  .why__image img {
    border-radius: 30px;
  }
}

.why__items {
  display: grid;
  grid-template-columns: 561px 1fr 1fr;
  gap: 16px;
}

@media only screen and (max-width: 1250px) {
  .why__items {
    grid-template-columns: 405px 1fr 1fr;
  }
}

@media only screen and (max-width: 991px) {
  .why__items {
    grid-template-columns: 1fr;
  }
}

.why__items-image {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.why__items-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.why__item {
  border-radius: 64px;
  background: #f3f7ff;
  position: relative;
  z-index: 5;
  overflow: visible;
  padding: 20px 20px 48px 20px;
  opacity: 0;
  transition: 1000ms;
}

@media only screen and (max-width: 991px) {
  .why__item {
    border-radius: 30px;
    padding: 20px 20px 30px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .why__item {
    overflow: hidden;
  }
}

.why__item:first-child .why__items-image {
  top: -67px;
  right: -15px;
  width: 386px;
  height: auto;
}

@media only screen and (max-width: 1250px) {
  .why__item:first-child .why__items-image {
    top: -57px;
    width: 311px;
  }
}

@media only screen and (max-width: 991px) {
  .why__item:first-child .why__items-image {
    top: -67px;
    right: 0;
    width: 359px;
  }
}

@media only screen and (max-width: 767px) {
  .why__item:first-child .why__items-image {
    right: 0;
    top: -25px;
    width: 230px;
  }
}

.why__item:nth-child(2) {
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .why__item:nth-child(2) .why__items-image {
    width: 125px;
    height: auto;
  }
}

.why__item:last-child .why__items-image {
  width: 334px;
  height: auto;
  right: -49px;
}

@media only screen and (max-width: 1250px) {
  .why__item:last-child .why__items-image {
    width: 230px;
    right: -8px;
  }
}

@media only screen and (max-width: 991px) {
  .why__item:last-child .why__items-image {
    width: 248px;
    right: -10px;
  }
}

@media only screen and (max-width: 767px) {
  .why__item:last-child .why__items-image {
    width: 228px;
    right: 0;
  }
}

.why__item:last-child .why__items-image::before {
  content: "";
  display: block;
  -webkit-filter: blur(11px);
  filter: blur(11px);
  background: #f3f7ff;
  width: 100%;
  height: 78px;
  position: absolute;
  bottom: -28px;
  right: 0;
}

.why__item.element-show {
  opacity: 1;
}

.why__number {
  margin-bottom: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  min-width: 100px;
  width: 100px;
  height: 100px;
  background: #17a6ec;
  font-weight: 600;
  font-size: 43px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #f3f7ff;
}

@media only screen and (max-width: 1250px) {
  .why__number {
    width: 80px;
    height: 80px;
    min-width: 80px;
    font-size: 34px;
  }
}

@media only screen and (max-width: 767px) {
  .why__number {
    margin-bottom: 80px;
    width: 60px;
    height: 60px;
    min-width: 60px;
    font-size: 25px;
  }
}

.why__text {
  font-weight: 600;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: -0.02em;
  max-width: 331px;
}

@media only screen and (max-width: 767px) {
  .why__text {
    font-size: 20px;
    max-width: 264px;
  }
}

.doctor {
  padding-bottom: 168px;
  overflow: hidden;
}

@media only screen and (max-width: 991px) {
  .doctor {
    padding-bottom: 115px;
  }
}

@media only screen and (max-width: 767px) {
  .doctor {
    padding-bottom: 60px;
  }
}

.doctor__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 56px;
}

@media only screen and (max-width: 767px) {
  .doctor__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
  }
}

.doctor__slider {
  overflow: visible;
  position: static;
}

@media only screen and (max-width: 767px) {
  .doctor__slider-items {
    padding-bottom: 50px;
  }
}

.doctor__main {
  position: relative;
}

.doctor__arrows {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  align-items: center;
  gap: 19px;
}

@media only screen and (max-width: 767px) {
  .doctor__arrows {
    position: static;
    justify-content: space-between;
  }
}

.doctor__arrows-items {
  display: flex;
  gap: 16px;
}

.doctor__arrows-next {
  cursor: pointer;
}

.doctor__arrows-prev {
  cursor: pointer;
}

.doctor__link {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  transition: 300ms;
}

@media only screen and (max-width: 767px) {
  .doctor__link {
    font-size: 20px;
  }
}

.doctor__link:hover {
  text-decoration: none;
}

.doctor-card {
  border-radius: 64px;
  width: 100%;
  transition: 300ms;
}

@media only screen and (max-width: 767px) {
  .doctor-card {
    border-radius: 30px;
  }
}

.doctor-card:hover {
  transform: translateY(-7px);
}

.doctor-card__top {
  position: relative;
  border-radius: 64px 64px 0 0;
}

@media only screen and (max-width: 767px) {
  .doctor-card__top {
    border-radius: 30px 30px 0 0;
  }
}

.doctor-card__image {
  display: flex;
  width: 100%;
  height: 310px;
}

@media only screen and (max-width: 767px) {
  .doctor-card__image {
    height: 280px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}

.doctor-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.doctor-card__feedback {
  border-radius: 64px;
  width: 94px;
  height: 43px;
  background: #f3f7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: absolute;
  top: 30px;
  right: 30px;
}

@media only screen and (max-width: 767px) {
  .doctor-card__feedback {
    border-radius: 15px;
    top: 10px;
    right: 10px;
  }
}

.doctor-card__feedback-text {
  font-size: 17px;
  letter-spacing: -0.02em;
}

.doctor-card__feedback-text span {
  color: rgba(11, 40, 54, 0.2);
}

.doctor-card__items {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.07);
  background: #f3f7ff;
  border-radius: 0 0 64px 64px;
  padding: 20px 28px 28px 28px;
}

@media only screen and (max-width: 767px) {
  .doctor-card__items {
    border-radius: 0 0 30px 30px;
    padding: 15px 20px;
  }
}

.doctor-card__name {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.02em;
  margin-bottom: 17px;
}

@media only screen and (max-width: 767px) {
  .doctor-card__name {
    font-size: 20px;
  }
}

.doctor-card__specialist {
  margin-bottom: 20px;
  display: flex;
  -moz-column-gap: 4px;
  column-gap: 4px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.doctor-card__specialist li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 64px;
  padding: 6px 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #01b5c5;
}

@media only screen and (max-width: 767px) {
  .doctor-card__specialist li {
    border-radius: 10px;
  }
}

.doctor-card__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doctor-card__text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@media only screen and (max-width: 767px) {
  .doctor-card__text {
    width: 100%;
  }
}

.doctor-card__text li {
  font-size: 14px;
  letter-spacing: -0.02em;
}

.doctor-card__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 31px;
  min-width: 48px;
  width: 48px;
  height: 48px;
  background: #98d2f8;
}

@media only screen and (max-width: 767px) {
  .doctor-card__btn {
    width: 38px;
    min-width: 38px;
    height: 38px;
  }
}

.doctor-card__btn img {
  width: 28px;
  min-width: 28px;
  height: 28px;
}

@media only screen and (max-width: 767px) {
  .doctor-card__btn img {
    width: 18px;
    height: 18px;
    min-width: 18px;
  }
}

.form {
  margin-bottom: 60px;
}

.form__banner {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .form__banner {
    overflow: hidden;
  }
}

.form__banner-inner {
  background: linear-gradient(135deg, #38b1ec 0%, #179fe2 100%);
  border-radius: 64px;
  overflow: hidden;
  position: relative;
  padding: 71px 24px 91px;
}

@media only screen and (max-width: 991px) {
  .form__banner-inner {
    border-radius: 30px;
    padding: 40px 24px 40px;
  }
}

@media only screen and (max-width: 767px) {
  .form__banner-inner {
    padding: 40px 15px 450px;
  }
}

.form__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .form__background {
    left: -60px;
    top: auto;
    bottom: 0;
    width: 1000px;
    height: auto;
  }
}

.form__background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 64px;
}

.form__people {
  position: absolute;
  left: 125px;
  bottom: 0;
  z-index: 3;
  display: flex;
  width: 326px;
  height: auto;
}

@media only screen and (max-width: 1250px) {
  .form__people {
    width: 297px;
    left: 73px;
  }
}

@media only screen and (max-width: 991px) {
  .form__people {
    width: 250px;
  }
}

@media only screen and (max-width: 767px) {
  .form__people {
    width: 210px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

.form__people img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.form__pulsation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1250px) {
  .form__pulsation {
    top: -11px;
  }
}

@media only screen and (max-width: 991px) {
  .form__pulsation {
    top: -20px;
  }
}

@media only screen and (max-width: 767px) {
  .form__pulsation {
    top: auto;
    bottom: 0;
    width: 780px;
    height: auto;
  }
}

.form__pulsation img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.form__items {
  max-width: 536px;
  margin-left: auto;
  margin-right: 0;
  position: relative;
  z-index: 5;
}

@media only screen and (max-width: 1250px) {
  .form__items {
    max-width: 450px;
  }
}

@media only screen and (max-width: 991px) {
  .form__items {
    max-width: 323px;
  }
}

@media only screen and (max-width: 767px) {
  .form__items {
    margin: 0;
    max-width: 100%;
  }
}

.form__title {
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 48px;
  line-height: 82%;
  letter-spacing: -0.02em;
  color: #f3f7ff;
  max-width: 420px;
}

@media only screen and (max-width: 1250px) {
  .form__title {
    font-size: 38px;
    max-width: 369px;
  }
}

@media only screen and (max-width: 991px) {
  .form__title {
    font-size: 28px;
    max-width: 269px;
  }
}

.form__input {
  width: 100%;
  height: 58px;
  background: #f3f7ff;
  padding: 20px;
  border-radius: 64px;
  border: 0;
  margin-bottom: 17px;
  color: #0b2836;
}

@media only screen and (max-width: 991px) {
  .form__input {
    height: 50px;
  }
}

.form__input::-moz-placeholder {
  opacity: 0.32;
}

.form__input::-ms-input-placeholder {
  opacity: 0.32;
}

.form__input::placeholder {
  opacity: 0.32;
}

.form__checkbox {
  margin: 7px 0 24px 20px;
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 12px;
  font-size: 14px;
  color: #f3f7ff;
  opacity: 0.64;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  transition: 300ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 767px) {
  .form__checkbox-label {
    max-width: 300px;
  }
}

.form__checkbox input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 100%;
  background: none;
  cursor: pointer;
  width: 14px;
  height: 14px;
  min-width: 14px;
  border-radius: 100%;
  border: 2px solid #dbe7ff;
  cursor: pointer;
}

.form__checkbox input:checked {
  background: #dbe7ff;
  border: none;
}

.form__checkbox.active input {
  border: 1px solid #f00;
}

.form__checkbox.active input:checked {
  border: 1px solid #dbe7ff;
}

.form__submit {
  background: #3e4095;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  width: 334px;
  height: 67px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f3f7ff;
  transition: 300ms;
  cursor: pointer;
  -webkit-animation: animate_pulse 1.2s infinite;
  animation: animate_pulse 1.2s infinite;
}

@media only screen and (max-width: 991px) {
  .form__submit {
    font-size: 18px;
    width: 100%;
    height: 57px;
  }
}

.form__submit:hover {
  -webkit-animation: none;
  animation: none;
  box-shadow: 0 2px 25px rgba(62, 64, 149, 0.4);
}

@keyframes animate_pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(62, 64, 149, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(62, 64, 149, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(62, 64, 149, 0);
  }
}

.reviews {
  margin-bottom: 60px;
}

.reviews__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 24px;
}

@media only screen and (max-width: 991px) {
  .reviews__title {
    font-size: 28px;
  }
}

.reviews__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

@media only screen and (max-width: 991px) {
  .reviews__items {
    grid-template-columns: 1fr;
  }
}

.reviews__item {
  border-radius: 64px;
  background: #f3f7ff;
  padding: 40px 21px 40px 6px;
  opacity: 0;
  transition: 1000ms;
}

@media only screen and (max-width: 991px) {
  .reviews__item {
    border-radius: 30px;
    padding: 35px 35px 35px 6px;
  }
}

.reviews__item.element-show {
  opacity: 1;
}

.reviews__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 8px;
}

.reviews__subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 71%;
  opacity: 0.4;
}

@media only screen and (max-width: 991px) {
  .reviews__subtitle {
    line-height: 100%;
  }
}

.reviews__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 111%;
  display: flex;
  gap: 4px;
}

.reviews__text span {
  font-weight: 500;
  font-size: 45px;
  color: #0b2836;
  opacity: 0.1;
  font-family: "SF Pro Display", sans-serif;
}

.reviews__top {
  padding-left: 34px;
  margin-bottom: 130px;
}

@media only screen and (max-width: 991px) {
  .reviews__top {
    margin-bottom: 90px;
  }
}

.contact {
  margin-bottom: 60px;
}

.contact__top {
  margin-bottom: 32px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  .contact__top {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
  }
}

.contact__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  max-width: 544px;
}

@media only screen and (max-width: 991px) {
  .contact__title {
    font-size: 28px;
    text-align: center;
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .contact__title {
    font-size: 25px;
  }
}

.contact__tel {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

@media only screen and (max-width: 991px) {
  .contact__tel {
    font-size: 28px;
  }
}

.contact__items {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

@media only screen and (max-width: 991px) {
  .contact__items {
    flex-direction: column;
    gap: 25px;
  }
}

.contact__map {
  width: 100%;
}

.contact__info {
  min-width: 270px;
  width: 270px;
}

@media only screen and (max-width: 991px) {
  .contact__info {
    width: 100%;
    min-width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 20px;
    column-gap: 20px;
    row-gap: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .contact__info {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

.contact__info-item {
  margin-top: 64px;
}

@media only screen and (max-width: 991px) {
  .contact__info-item {
    margin-top: 0;
  }
}

.contact__info-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 16px;
}

.contact__item {
  margin-bottom: 40px;
}

@media only screen and (max-width: 991px) {
  .contact__item {
    margin-bottom: 0;
  }
}

.contact__item:last-child {
  margin-bottom: 0;
}

.contact__time {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: #17a6ec;
  margin-bottom: 16px;
}

.contact__address {
  font-weight: 600;
  line-height: 120%;
}

#mymap {
  width: 100%;
  height: 100%;
  border-radius: 64px;
  overflow: hidden;
}

@media only screen and (max-width: 991px) {
  #mymap {
    height: 400px !important;
    border-radius: 30px;
  }
}

@media only screen and (max-width: 767px) {
  #mymap {
    height: 346px !important;
  }
}

.ymaps-2-1-79-map {
  width: 100% !important;
  height: 100% !important;
}

@media only screen and (max-width: 991px) {
  .ymaps-2-1-79-map {
    height: 400px !important;
  }
}

@media only screen and (max-width: 767px) {
  .ymaps-2-1-79-map {
    height: 346px !important;
  }
}

.footer {
  background: #17a6ec;
  color: #f3f7ff;
  border-radius: 64px 64px 0 0;
  padding: 64px 0 16px;
}

@media only screen and (max-width: 991px) {
  .footer {
    padding: 35px 0 16px;
    border-radius: 30px 30px 0 0;
  }
}

.footer__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media only screen and (max-width: 991px) {
  .footer__items {
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    align-items: center;
  }
}

@media only screen and (max-width: 991px) {
  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__logo {
  width: 88px;
  min-width: 88px;
  height: auto;
  display: flex;
  margin-bottom: 41px;
}

@media only screen and (max-width: 991px) {
  .footer__logo {
    margin-bottom: 25px;
  }
}

.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer__tel {
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 120%;
}

.footer__social {
  display: flex;
  gap: 16px;
}

.footer__social li a {
  width: 24px;
  height: 24px;
  min-width: 24px;
}

.footer__item {
  display: flex;
  gap: 16px;
}

@media only screen and (max-width: 991px) {
  .footer__item {
    justify-content: space-between;
    gap: 42px;
  }
}

@media only screen and (max-width: 767px) {
  .footer__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 345px;
    gap: 25px;
  }
}

.footer__info {
  min-width: 256px;
  max-width: 272px;
  width: 100%;
}

@media only screen and (max-width: 1250px) {
  .footer__info {
    min-width: 240px;
    max-width: 240px;
  }
}

@media only screen and (max-width: 991px) {
  .footer__info {
    max-width: 100%;
    min-width: auto;
  }
}

@media only screen and (max-width: 767px) {
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer__head {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 24px;
}

@media only screen and (max-width: 991px) {
  .footer__head {
    font-size: 28px;
  }
}

@media only screen and (max-width: 767px) {
  .footer__head {
    margin-bottom: 0;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (max-width: 767px) {
  .footer__list {
    display: block;
    margin-top: 24px;
  }
}

.footer__list li {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  opacity: 0.64;
}

@media only screen and (max-width: 767px) {
  .footer__list li {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .footer__list li:last-child {
    margin-bottom: 0;
  }
}

.footer__list li a {
  transition: 300ms;
  cursor: pointer;
  --border-color: rgba(243, 247, 255, 0.64);
  --border-width: 1px;
  --bottom-distance: 0px;
  display: inline;
  background-position: 0 calc(100% - var(--bottom-distance));
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-repeat: no-repeat;
  transition: background-size 0.5s;
  padding-bottom: 1px;
}

.footer__list li a:hover {
  background-size: 100% var(--border-width);
}

.footer__end {
  border-top: 1px solid #f3f7ff;
  padding-top: 16px;
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 1250px) {
  .footer__end {
    max-width: 100%;
    padding: 16px 24px 0;
  }
}

@media only screen and (max-width: 767px) {
  .footer__end {
    padding: 16px 15px 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer__text {
  opacity: 0.64;
  font-weight: 600;
  font-size: 16px;
}

.footer__text:last-child {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
}

@media only screen and (max-width: 767px) {
  .footer__text:last-child {
    position: static;
    transform: none;
  }
}

.footer__text a {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.heartbeat-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.heartbeat-2 svg {
  stroke: #337ab7;
  stroke-width: 2px;
  fill: none;
  stroke-dasharray: 150, 200;
  stroke-dashoffset: 0;
  -webkit-animation: heartbeat-2 4s infinite linear;
  animation: heartbeat-2 4s infinite linear;
}

@-webkit-keyframes heartbeat-2 {
  to {
    stroke-dashoffset: 1050;
  }
}

@keyframes heartbeat-2 {
  to {
    stroke-dashoffset: 1050;
  }
}
